// Bootswatch.less
// Swatch: New Swatch
// -----------------------------------------------------

// Nav bar

.navbar .navbar-inner .brand {
    color: darken(@navbarDarker, 10);
    text-shadow: 0 1px 0 @navbarLighter;
    padding: 6px 10px;
    font-size: 16px;
}
.navbar .nav > li {
    & > a, &.open > a {
        .transition(200ms);
        color: darken(@navbarDarker, 20);
        text-shadow: 0 1px 0 @navbarLighter;
        padding: 6px 10px;
        
        &.dropdown-toggle .caret {
            .opacity(70);
            border-width: 3px;
            border-top-color: darken(@navbarDarker, 30);
            position: relative;

            &:after {
                .caret;
                position: absolute;
                top: -2px;
                left: -3px;
                border-width: 3px;
                border-top-color: lighten(@navBarBaseColor, 30);
            }
        }
        
        &:hover, &:active {
            color: darken(@navbarDarker, 30);
            background: fadeout(@navbarDarker, 70);
            color: inherit;
        }
    }
    
    &.active > a, &.active > a:hover, &.active > a:active {
        background: @navbarDarker;
        text-shadow: 0 -1px 0 darken(@navBarBaseColor, 30);
    }
}

.navbar-search {
    margin: 4px 0 0;
}
.navbar-search .search-query, .navbar-search .search-query:focus {
    padding: 1px 10px;
    border: 1px solid @navbarDarker;
    width: 100px;
    .transition(width 100ms);
    .placeholder(@navBarBaseColor);
    line-height: 16px;
}
.navbar-search .search-query:focus {
    width: 160px;
    border: 1px solid darken(@navbarDarker, 10);
    .box-shadow(inset 0 0 2px @navbarLighter);
    .placeholder(@navbarLighter);
}


.dropdown-menu li > a:hover, 
.dropdown-menu .active > a, 
.dropdown-menu .active > a:hover {
    background-color: @navBarBaseColor;
}

// Buttons

.btn {
    .buttonBackground(lighten(#D5DED9, 10), #D5DED9);
    .border-radius(.35em);
    .box-shadow( inset 0 1px 0 fadeout(@white, 80)    ~"," 
                 inset 0 -1px 0 fadeout(@black, 98)   ~"," 
                 0 1px 0 fadeout(@black, 90)
                );
    color: darken(@navbarDarker, 20);
    text-shadow: 0 1px 0 lighten(#D5DED9, 10);
    border-color: @navBarBaseColor;
    
    .btn-large {
        .border-radius(.36em);
    }
    .btn-small {
        padding: 3px 8px;
        .border-radius(.28em);
    }
    .btn-mini {
        padding: 2px 6px;
        .border-radius(.2em);
    }
}
.btn:active, .btn-group.open .dropdown-toggle {
    border-color: fadeout(@black, 60);
    .box-shadow( inset 0 1px 2px fadeout(@black, 75)    ~"," 
                 0 1px 0 fadeout(@white, 70)
                );
}


.btn-inverse {
    .buttonBackground(lighten(#4a5354, 20), #4a5354);
    color: lighten(@navbarLighter, 10);
    border-bottom-color: darken(@navbarDarker, 90);
    text-shadow: 0 -1px 0 darken(@navbarDarker, 40);
}

.btn-primary {
    .buttonBackground(lighten(#3c689f, 20), #3c689f);
    color: lighten(#3c689f, 60);
    text-shadow: 0 -1px 0 darken(#3c689f, 10);
}

.btn-info {
    .buttonBackground(lighten(#54a3b9, 20), #54a3b9);
    color: #fff;
    text-shadow: 0 -1px 0 darken(#54a3b9, 10);
}

.btn-success {
    .buttonBackground(lighten(#4c9530, 20), #4c9530);
    color: #fff;
    text-shadow: 0 -1px 0 darken(#4c9530, 10);
}

.btn-warning {
    .buttonBackground(lighten(#d5a11c, 20), #d5a11c);
    color: #fff;
    text-shadow: 0 -1px 0 darken(#d5a11c, 10);
}

.btn-danger {
    .buttonBackground(lighten(#d02f30, 20), #d02f30);
    color: #fff;
    text-shadow: 0 -1px 0 darken(#d02f30, 10);
}

// Icon highlights in buttons

.btn i {
    position: relative;
    background-image: none;
    
    &:before {
        background: inherit;
        .icon-black;
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        z-index: 2;
    }
    &:after {
        background: inherit;
        .icon-white;
        .opacity(40);
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        top: 1px;
        z-index: 1;
    }
    &.icon-white:before {
        .icon-white;
    }
    &.icon-white:after {
        .icon-black;
        .opacity(40);
        top: -1px;
    }
}

.btn.disabled,
.btn[disabled] {
    color: @gray;
    background-color: fadeout(@gray, 94);
    border-color: fadeout(@black, 80);
    text-shadow: none;
}


input, textarea, select, .uneditable-input {
    .border-radius(.2em);
    .box-shadow(inset 0 1px 1px fadeout(#000, 88));
    border-color: @navBarBaseColor;
}
.control-group.error input, 
.control-group.error select, 
.control-group.error textarea,
.control-group.warning input, 
.control-group.warning select, 
.control-group.warning textarea {
    color: inherit;
}